@import "profile";  // import partial _profile.scss

$bg-color: #2c3e50;  // variables
$hover-color: #16a085;
$text-color: #ffffff;

p {
	font-size: 24px;
}

// apply style only if they are inside nav
nav {
	ul {
		background: $bg-color;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
	}

	a{
		color: $text-color;
		display: inline-block;
		padding: 10px 16px;
		text-decoration: none;
	}

	a:hover{
		background: $hover-color;
	}
}
