@import "profile";  // import partial _profile.scss

$bg-color: #2c3e50;  // variables
$hover-color: #16a085;
$text-color: #ffffff;
$buttonBackground: #16A085;
$buttonColor: #FFFFFF;
$buttonPadding: 5px;


.button {
	background: $buttonBackground;
	border-radius: 8px;
	color: $buttonColor;
	display: inline-block;
	padding: $buttonPadding;
	text-decoration: none;
}



.jumbo-button {
	@extend .button;
	padding: $buttonPadding + 30px;
}

.light-button {
	@extend .button;
	background: $buttonBackground*1.5;  // lightens the color
}

p {
	a:hover {
			@extend .button;
			background: $buttonBackground*1.5;
		}
}

.panel {
	border: 3px solid dodgerblue;
	background: #eea571;
	margin: 10px;
}

@mixin border-radius($radius) {  // mixin
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}

.little-panel {
	@extend .panel;  // inherit all .panel properties
	@include border-radius(5px);
	font-size: 12px;
	padding: 5px;
}

.big-panel {
	@extend .panel;
	@include border-radius(20px);
	font-size: 32px;
	padding: 20px;
}

p {
	font-size: 24px;
}

img {
	padding: 10px;
}

// apply style only if they are inside nav
nav {
	ul {
		background: $bg-color;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
	}

	a{
		color: $text-color;
		display: inline-block;
		padding: 10px 16px;
		text-decoration: none;
	}

	a:hover{
		background: $hover-color;
	}
}
